* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 15px rgba(75,75,75, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 1.25rem;
}

.action i{
    padding: 5px 10px;
}

.display {
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
}

.display h1 {
    margin-left: auto;
}

.rows{
    margin: 7px 0;
}

button {
    padding: 10px;
    margin: 0 2px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px #ccc;
    font-size: 1rem;
}

#num {
    background: #fff;
}

#equal {
    background: rgba(0,103,192,255);
    color: #fff;
}
