* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 15px rgba(75,75,75, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 1.15rem;
    align-items: center;
    display: flex;
}

.header h1 img {
    width: 30px;
}

.action i{
    padding: 5px 10px;
}

.display {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: center;
}

.display h1, h5 {
    margin-left: auto;
}

.display h5 {
    /* display: none; */
    color: #fff;
}

.rows{
    margin: 7px 0;
}

button {
    padding: 10px;
    margin: 0 2px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px #ccc;
    /* background: #fff; */
    font-size: 1rem;
    cursor: pointer;
}

#num:hover {
    background: #f0f0f0;
}

#num {
    background: #fff;
}

#-ve {
    transform: rotate(180deg);
    background-color: #fff;
    box-shadow: 1px 0  2px 0px #ccc;
}

#equal {
    background: rgba(0,103,192,255);
    color: #fff;
}

#operator {
    font-size: 1.5rem;
}
